.homepage-icons {
  font-size: x-large;
}

.swiper-button-prev{
  color: white !important;
}
.swiper-button-next{
  color: white !important;
}

.leaflet-container{
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 991px) {
  .datetime-picker-mobile {
    width: 100%;
  }
}
